<!DOCTYPE html>
<html>
<head>
    <title>webshell</title>
    <script src='http://libs.baidu.com/jquery/1.9.1/jquery.min.js'></script>
    <script src='{{ static_url("js/bootstrap.min.js")}}'></script>
    <link rel='stylesheet' href='{{ static_url("js/bootstrap.min.css")}}'>
    <script src='{{ static_url("js/ajax_command.js")}}'></script>
</head>
<body>
    <div class='nav'>
        <ul id='navbar' class='nav nav-justified'>
            <li class='dropdown' id='usertap'>
                <a href='##' class='dropdown-toggle' data-toggle='dropdown' id='users'>user<span class='caret'></span></a>
                <ul class='dropdown-menu' id='userelem'>
                    <!--for js to render user list  TODO-->
                </ul>
            </li>
            <li class='dropdown' id='grouptap'>
                <a href='##' class='dropdown-toggle' data-toggle='dropdown' id='groups'>group<span class='caret'></span></a>
                <ul class='dropdown-menu' id='groupelem'>
                    <!--for js to render group list TODO-->
                </ul>
            </li>

        </ul>
    </div>
    <div class='panel panel-default'>
    <div class='panel-heading'>
        <input type='text' id='text' name='text' class='form-control' placeholder='Command' />
    </div>
    <div class='panel panel-body'> 
        <input type='text' id='time' name='time' class='form-control' placeholder='Time: 0s'/>  
        <button type="button" id='submit' name='submit' class='btn btn-default'>confirm</button>
    </div>
    <div class='text-info' id='resultdiv'>
        <h3 class='text-primary'>Result:</h3>
        <p id='result'></p>
    </div>
    <div class='panel panel-footer'>
        <h3>Task List:</h3>
        <table class='table table-hover' id='tasktable'>
            <thead>
                <tr>
                    <th>Command</th>
                    <th>User</th>
                    <th>Time</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <!--for js to render-->
            </tbody>
        </table>
    </div>
    </div>
<body>
</html>
